### Environment
.env

### Other
backups/*
.coverage

### Database stuff
db/mongo/*
db/mysql/*
db/neo4j/*

### Keep empty folder structure
!db/mysql/.gitkeep
!db/mongo/.gitkeep
!db/neo4j/.gitkeep
!backups/.gitkeep

.prettierignore

###frontend playwright and test output
frontend/playwright-report/index.html
frontend/test-results/.last-run.json
