services:
  migration-app:
    build: .
    env_file: ".env"
    environment:
      - MYSQL_HOST=mysql8_database
      - MONGODB_HOST=localhost
      - MONGODB_PORT=27017
      - NEO4J_URI=bolt://neo4j:7687
    volumes:
      - .:/app
    working_dir: /app
    command: python scripts/run_all_migrations.py
    stdin_open: true
    tty: true
