services:
  migration-app:
    build: .
    container_name: gametable-nosql-migrator
    env_file: ".env"
    networks:
      - gametable-net
    environment:
      - MYSQL_HOST=mysql8_database
      - MONGODB_HOST=mongodb
      - MONGODB_PORT=27017
      - NEO4J_URI=bolt://neo4j_database:7687
    volumes:
      - .:/app
    working_dir: /app
    command: python scripts/run_all_migrations.py
    stdin_open: true
    tty: true

networks:
  gametable-net:
    external: true
    name: gametable-net
