name: Security checks

on:
  pull_request:
    branches: [main]

jobs:
  bandit:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - name: Install Bandit
        run: pip install bandit

      - name: Run Bandit (only high severity)
        run: |
          bandit -c bandit.yaml \
            -r backend NoSQLMigrator data-aggregator \
            --severity-level high \
