name: Test Fest Workflow

on:
  pull_request:
    branches:
      - main
    paths-ignore:
      - "backups/**"
      - "db/**"

jobs:
  test:
    name: tests
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5

      - name: "Set up Python"
        uses: actions/setup-python@v6
        with:
          python-version-file: "pyproject.toml"

      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          version: "0.9.17"
          enable-cache: true

      - name: Install the project
        run: uv sync --locked --all-extras --dev

      - name: Run tests
        run: uv run pytest

      - name: Run Bandit
        run: |
          uv run bandit -c bandit.yaml \
            -r backend NoSQLMigrator data-aggregator \
            --severity-level high
